*
{
    padding: 0;
    box-sizing: border-box;
}

.container
{
    display: grid;
    align-items: center;
    width: 650px;
    max-width: 90%;
    box-shadow: 2px 4px 10px rgb(148, 146, 146);
    text-align: center;
    background-color:rgb(241, 239, 239);
    border-radius: 20px;
    margin-top: 50px;
    padding: 25px;
    
}
.imge
{
    margin-left: 35%;
}